<!DOCTYPE html>
<html>
  <head>
    <title><%= company_name %></title>
    <link rel='stylesheet' href='/users/users.css' />
  </head>
  <body>
    <h1><%= company_name %></h1>
    <p>Welcome to api path <%= users_api_path %> showing <%= users_ejs %></p>
  </body>
</html>